{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter the following details</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.region.label(class="form-control-label") }}
                    {% if form.region.errors %}
                        {{ form.region(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.region.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.region(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.city.label(class="form-control-label") }}
                    {% if form.city.errors %}
                        {{ form.city(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.country.label(class="form-control-label") }}
                    {% if form.country.errors %}
                        {{ form.country(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.country(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.num_terminals.label(class="form-control-label") }}
                    {% if form.num_terminals.errors %}
                        {{ form.num_terminals(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.num_terminals.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.num_terminals(class="form-control") }}
                    {% endif %}
                </div>
                </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}