{% extends "layout.html" %}
{% block content %}
    {% for plane in planes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h5 class="mr-2">Name {{ plane.name }}</h5>
            </div>
            <p class="small article-content">ID {{ plane.id }}</p>
            <p><a class="btn btn-danger btn-sm m-1" href="{{ url_for('main.delete_plane', plane_id=plane.id) }}">Delete Plane</a></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}