{% extends "layout.html" %}
{% block content %}
    {% for booking in bookings %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h5 class="mr-2">Flight No {{ booking.flight.id }}</h5>
            </div>
            <p class="small article-content">Booked by {{ booking.user.name }}, {{ booking.user.email }}</p>
            <p class="small article-content">Travel Date {{ booking.travel_date }}, Booked on {{ booking.booking_time.strftime('%Y-%m-%d %H:%M') }}</p>
            <p class="small article-content">ID {{ airport.id }}</p>
            <p><a class="small article-content" href="{{ url_for('main.show_booking', booking_id=booking.id) }}">Show Details</a></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}