{% extends "layout.html" %}
{% block content %}
    {% for plane in planes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h5 class="mr-2">Name {{ plane.name }}</h5>
            </div>
            <p class="small article-content">ID {{ plane.id }}</p>
            <p><a class="small article-content" href="{{ url_for('main.show_plane', plane_id=plane.id) }}">Show Details</a></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}