{% extends "layout.html" %}
{% block content %}
    {% for emp in employees %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <h5 class="mr-2">Name {{ emp.user.name }}</h5>
            </div>
            <p class="small article-content">ID {{ emp.id }}, Position {{ emp.position }}</p>
            <p><a class="btn btn-danger btn-sm m-1" href="{{ url_for('main.delete_employee', employee_id=emp.id) }}">Delete Employee</a></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}